In [71]:
import pandas as pd
import geopandas

data = pd.read_csv('../erosion_gdf_take_2.csv')

# data = pd.read_csv('../../InSAR/2006_full_joined_to_use_all.csv')
data.head()

,Unnamed: 0,band1,band2,band3,band4,band5,band6,band7,band8,band9,...,band352,band353,band354,band355,band356,band357,band358,POINTID,geometry,VALUE
0,0,-0.000152,0.000986,0.004008,0.005472,0.005756,0.007789,0.009954,0.011664,0.013060,...,0.065499,0.062266,0.063747,0.060986,0.059916,0.061251,0.058821,1,POINT (448210.950434339 6481848.32404281),-0.000152
1,1,0.000510,0.000955,0.004493,0.004698,0.006199,0.008139,0.010138,0.011971,0.014497,...,0.062596,0.063473,0.060694,0.062735,0.062540,0.061148,0.063097,2,POINT (448216.050434339 6481848.32404281),0.000510
2,2,0.000565,0.001765,0.003405,0.005407,0.005677,0.008092,0.010280,0.011298,0.014343,...,0.068078,0.066012,0.062762,0.061232,0.066458,0.060376,0.063481,3,POINT (448221.150434339 6481848.32404281),0.000565
3,3,0.000197,0.001537,0.003782,0.005053,0.006393,0.007700,0.010634,0.011635,0.013751,...,0.065658,0.066481,0.064339,0.062169,0.064833,0.062855,0.061849,4,POINT (448226.2504343389 6481848.32404281),0.000197
4,4,0.000440,0.001375,0.003630,0.005567,0.006266,0.008108,0.010253,0.010777,0.013712,...,0.063027,0.059421,0.060017,0.062054,0.061573,0.059307,0.060271,5,POINT (448231.3504343389 6481848.32404281),0.000440

In [72]:
from sklearn.cluster import KMeans

kmeans = KMeans(n_clusters=13)

x = data[data.columns[1:359]]
x_vis = data[data.columns[6:66]]
x_RE = data[data.columns[62:76]]
x_NIR = data[data.columns[66:186]]
x_SWIR = data[data.columns[186:359]]


x_velocity = data[data.columns[6]].values.reshape(-1, 1)
x_amplitude = data[data.columns[3]].values.reshape(-1, 1)
x_all = data[data.columns[3:7]]

y = kmeans.fit_predict(x_all)

y_df = pd. DataFrame(y, columns=['Cluster'])

data['Cluster'] = y_df

print(data.head())

   Unnamed: 0     band1     band2     band3     band4     band5     band6  \
0           0 -0.000152  0.000986  0.004008  0.005472  0.005756  0.007789
1           1  0.000510  0.000955  0.004493  0.004698  0.006199  0.008139
2           2  0.000565  0.001765  0.003405  0.005407  0.005677  0.008092
3           3  0.000197  0.001537  0.003782  0.005053  0.006393  0.007700
4           4  0.000440  0.001375  0.003630  0.005567  0.006266  0.008108

      band7     band8     band9  ...   band353   band354   band355   band356  \
0  0.009954  0.011664  0.013060  ...  0.062266  0.063747  0.060986  0.059916
1  0.010138  0.011971  0.014497  ...  0.063473  0.060694  0.062735  0.062540
2  0.010280  0.011298  0.014343  ...  0.066012  0.062762  0.061232  0.066458
3  0.010634  0.011635  0.013751  ...  0.066481  0.064339  0.062169  0.064833
4  0.010253  0.010777  0.013712  ...  0.059421  0.060017  0.062054  0.061573

    band357   band358  POINTID                                    geometry  \
0  0.061251  0.058821        1   POINT (448210.950434339 6481848.32404281)
1  0.061148  0.063097        2   POINT (448216.050434339 6481848.32404281)
2  0.060376  0.063481        3   POINT (448221.150434339 6481848.32404281)
3  0.062855  0.061849        4  POINT (448226.2504343389 6481848.32404281)
4  0.059307  0.060271        5  POINT (448231.3504343389 6481848.32404281)

      VALUE  Cluster
0 -0.000152        8
1  0.000510        8
2  0.000565        8
3  0.000197        8
4  0.000440        8

[5 rows x 363 columns]

In [73]:
y_df.describe()

            Cluster
count  38808.000000
mean       4.792002
std        3.829620
min        0.000000
25%        1.000000
50%        4.000000
75%        8.000000
max       12.000000

In [74]:
data['geometry'] = geopandas.GeoSeries.from_wkt(data['geometry'])

data_gdf = geopandas.GeoDataFrame(data, geometry='geometry')

# cross_lochs_gdf.head(2)

# cross_lochs_focused = cross_lochs[cross_lochs_gdf.columns[360:365]]

data_gdf.head()

# gdf.head()

,Unnamed: 0,band1,band2,band3,band4,band5,band6,band7,band8,band9,...,band353,band354,band355,band356,band357,band358,POINTID,geometry,VALUE,Cluster
0,0,-0.000152,0.000986,0.004008,0.005472,0.005756,0.007789,0.009954,0.011664,0.013060,...,0.062266,0.063747,0.060986,0.059916,0.061251,0.058821,1,POINT (448210.950 6481848.324),-0.000152,8
1,1,0.000510,0.000955,0.004493,0.004698,0.006199,0.008139,0.010138,0.011971,0.014497,...,0.063473,0.060694,0.062735,0.062540,0.061148,0.063097,2,POINT (448216.050 6481848.324),0.000510,8
2,2,0.000565,0.001765,0.003405,0.005407,0.005677,0.008092,0.010280,0.011298,0.014343,...,0.066012,0.062762,0.061232,0.066458,0.060376,0.063481,3,POINT (448221.150 6481848.324),0.000565,8
3,3,0.000197,0.001537,0.003782,0.005053,0.006393,0.007700,0.010634,0.011635,0.013751,...,0.066481,0.064339,0.062169,0.064833,0.062855,0.061849,4,POINT (448226.250 6481848.324),0.000197,8
4,4,0.000440,0.001375,0.003630,0.005567,0.006266,0.008108,0.010253,0.010777,0.013712,...,0.059421,0.060017,0.062054,0.061573,0.059307,0.060271,5,POINT (448231.350 6481848.324),0.000440,8

Ensure changed names of files before running

In [77]:
data_gdf.to_file("erosion_13_take_2.shp")

KeyboardInterrupt:

In [ ]:
data_gdf.to_csv("erosion_13_take_2.csv")

In [27]:
# issue - tried to reduce the size of the shape file, but whenever I removed columns, it wouldn't recognise the geometry