https://pypi.org/project/pyspectra/

Issue installing spc in terminal

In [9]:
#import spc
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from sklearn.decomposition import PCA

https://github.com/spectralpython/spectral/blob/master/spectral/algorithms/algorithms.py
This inlcudes info about some derivatives + code for other supervised and unsupervised learning.
Poss worth returning to

In [13]:
from derivative import dxdt
import numpy as np
import rasterio as rio

data = rio.open("../../preprocessed_data/dimensionality_reduction/cross_lochs_2.tif")

t = np.linspace(0,2*np.pi,50)
# x = np.sin(x) ---- orignial
# x = np.sin(data)

# result3 = dxdt(x, t, kind="spectral")

print(t)

[0.         0.12822827 0.25645654 0.38468481 0.51291309 0.64114136
 0.76936963 0.8975979  1.02582617 1.15405444 1.28228272 1.41051099
 1.53873926 1.66696753 1.7951958  1.92342407 2.05165235 2.17988062
 2.30810889 2.43633716 2.56456543 2.6927937  2.82102197 2.94925025
 3.07747852 3.20570679 3.33393506 3.46216333 3.5903916  3.71861988
 3.84684815 3.97507642 4.10330469 4.23153296 4.35976123 4.48798951
 4.61621778 4.74444605 4.87267432 5.00090259 5.12913086 5.25735913
 5.38558741 5.51381568 5.64204395 5.77027222 5.89850049 6.02672876
 6.15495704 6.28318531]

Using the Excel spreadsheet sent by Doreen as a basis:

In [82]:
import rasterio as rio
cross_lochs_test = rio.open('../../preprocessed_data/dimensionality_reduction/cross_lochs.tif')
# number of bands
cross_lochs_test.count
# read bands
array = cross_lochs_test.read()
# convert to a DataFrame
import pandas as pd
cross_lochs_df = pd.DataFrame()

array_num = 0
band_num = 1

for num in range(358):
    cross_lochs_df['band' +str(band_num)]=array[array_num].ravel()
    array_num += 1
    band_num += 1


cross_lochs_df.head(2)

# NB when do this, will want a PFT column, which will include in randmisation, then split the train and 
# test data into x (bands) and y (PFT)

/tmp/ipykernel_14815/878720774.py:15: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  cross_lochs_df['band' +str(band_num)]=array[array_num].ravel()

,band1,band2,band3,band4,band5,band6,band7,band8,band9,band10,...,band349,band350,band351,band352,band353,band354,band355,band356,band357,band358
0,0.003693,0.002533,0.002079,0.003926,0.005210,0.007657,0.009435,0.012086,0.013435,0.014549,...,0.091244,0.089460,0.086190,0.089189,0.085616,0.086009,0.087522,0.086040,0.083325,0.084438
1,0.004860,0.001867,0.003720,0.005022,0.005861,0.008893,0.011048,0.012524,0.014608,0.017364,...,0.081579,0.082929,0.080569,0.080958,0.080036,0.079593,0.078432,0.079404,0.079279,0.079257

In [83]:
cross_lochs_df.loc['mean'] = cross_lochs_df.mean()

In [84]:
cross_lochs_df.tail(5)

,band1,band2,band3,band4,band5,band6,band7,band8,band9,band10,...,band349,band350,band351,band352,band353,band354,band355,band356,band357,band358
41402,0.003831,0.005322,0.007929,0.010185,0.011888,0.015877,0.018869,0.022189,0.025531,0.028456,...,0.135079,0.134049,0.134441,0.136894,0.136490,0.136421,0.138430,0.137087,0.134593,0.133804
41403,0.003841,0.005365,0.008033,0.010345,0.011918,0.015610,0.019266,0.022270,0.025459,0.028506,...,0.135683,0.135577,0.133776,0.141797,0.134402,0.135853,0.138924,0.139079,0.135490,0.134017
41404,0.003819,0.005305,0.008166,0.010267,0.012013,0.015443,0.018905,0.021865,0.025044,0.028315,...,0.137687,0.135257,0.135930,0.136691,0.139425,0.138277,0.139343,0.138629,0.134105,0.136583
41405,0.003836,0.005264,0.007810,0.010020,0.011569,0.015417,0.018613,0.021824,0.024962,0.028246,...,0.136338,0.136514,0.133970,0.138620,0.136225,0.140556,0.142742,0.138437,0.135536,0.133259
mean,0.001121,0.002053,0.004020,0.005236,0.006317,0.008694,0.010822,0.012626,0.014860,0.016958,...,0.083488,0.083495,0.082452,0.083897,0.082275,0.082520,0.082960,0.083490,0.082057,0.082090

In [85]:
wavelengths = pd.read_csv("../../preprocessed_data/wavelengths.csv")

In [111]:
wavelengths.describe()

        Wavelength
count   358.000000
mean   1349.831039
std     605.878480
min     377.071821
25%     824.094321
50%    1271.116821
75%    1948.539321
max    2395.561821

In [101]:
mean = cross_lochs_df.loc[['mean']]
mean.head()

,band1,band2,band3,band4,band5,band6,band7,band8,band9,band10,...,band349,band350,band351,band352,band353,band354,band355,band356,band357,band358
mean,0.001121,0.002053,0.00402,0.005236,0.006317,0.008694,0.010822,0.012626,0.01486,0.016958,...,0.083488,0.083495,0.082452,0.083897,0.082275,0.08252,0.08296,0.08349,0.082057,0.08209

In [112]:
original_spectra = mean.transpose()
original_spectra = original_spectra.rename(columns={'mean': 'Original Spectra'})
#original_spectra = original_spectra.rename(index={0:357}) # want to rename to match the other dataframe
original_spectra = original_spectra.reset_index()
# original_spectra = 
original_spectra.head()
original_spectra.describe()

       Original Spectra
count        358.000000
mean           0.177012
std            0.099608
min            0.001121
25%            0.097437
50%            0.182597
75%            0.262841
max            0.503918

In [113]:
#derivatives = pd.DataFrame(wavelengths)
derivatives = pd.concat([wavelengths,original_spectra], axis=1)
derivatives.tail()

# why has it lost one of the bands (there should be 358 - reason = starts at 0) and why is the original spectra NaN
# - matching number of values + changed the index names (row headings) to see if that was the issue?

      Wavelength    index  Original Spectra
353  2375.531821  band354          0.082520
354  2380.541821  band355          0.082960
355  2385.551821  band356          0.083490
356  2390.561821  band357          0.082057
357  2395.561821  band358          0.082090

In [118]:
#derivatives["First Derivative"] = ('Original Spectra' / 'Wavelength') # don't know how to write the equation here - see excel (interaction between rows as well as columns)
derivatives["Shifted_wavelength"] = derivatives["Wavelength"].shift(-1, fill_value=0)
derivatives["Shifted_original_spectra"] = derivatives["Original Spectra"].shift(-1, fill_value=0)

derivatives.tail()

,Wavelength,index,Original Spectra,Shifted_wavelength,Shifted_original_spectra
353,2375.531821,band354,0.082520,2380.541821,0.082960
354,2380.541821,band355,0.082960,2385.551821,0.083490
355,2385.551821,band356,0.083490,2390.561821,0.082057
356,2390.561821,band357,0.082057,2395.561821,0.082090
357,2395.561821,band358,0.082090,0.000000,0.000000

In [ ]:
# similar issues with second derivative

# once sorted this, can probably do similar with continuum removal