In [ ]:
#  MCNEMAR test

In [3]:
import pandas as pd
SWIR = pd.read_csv('cross_lochs_confusion_matrix_rf_kmc_SWIR_0.25.csv')
first_derivative = pd.read_csv('cross_lochs_confusion_matrix_rf_kmc_first_derivative_0.3.csv')

In [11]:
SWIR_initial = SWIR.iloc[0:6,1:7]

SWIR_initial

      0     1      2     3     4    5
0  1632     0      0     0     0   41
1   262  3620      0     0     0  552
2   324     0  10390   338  4372  291
3    21     0    327  2282     6  385
4     0     0   5791    46  8117    8
5  2063     0      0     0  1139   14

In [13]:
import numpy as np

SWIR_np = SWIR_initial.to_numpy()

sum_TP_SWIR = SWIR_np.diagonal().sum()

print(sum_TP_SWIR)

26055

In [14]:
first_derivative_initial = first_derivative.iloc[0:6,1:7]

first_derivative_initial

      0     1     2     3     4    5
0  1111     0     0     0   550   12
1   462  3904     0     0    36   32
2   474     0  7775   119  7079  268
3     0     0    27  2217     0  777
4    33     0  7549    62  6134  184
5  1203     0   204    34  1600  175

In [15]:
fd_np = first_derivative_initial.to_numpy()

sum_TP_fd = fd_np.diagonal().sum()

print(sum_TP_fd)

21316

In [17]:
difference = sum_TP_SWIR - sum_TP_fd
f11_TP = sum_TP_fd - difference

f11_TP

16577

In [20]:
total = SWIR_initial.values.sum()

In [21]:
f12_FN = sum_TP_SWIR - f11_TP
f21_FP = sum_TP_fd - f11_TP

f22_TN = total - f11_TP - f12_FN - f21_FP

f22_TN

11227

In [23]:
print('f11 = ', f11_TP)
print('f12 = ', f12_FN)
print('f21 = ', f21_FP)
print('f22 = ', f22_TN)

f11 =  16577
f12 =  9478
f21 =  4739
f22 =  11227

In [24]:
import math

z = (f12_FN - f21_FP)/math.sqrt(f12_FN + f21_FP)

z

39.74502065248761

In [ ]:
# if z is greater than 3.481, then it is statistically significant diffierent at 0.05 level (1 degree of freedom chi2 table)
# i.e. the classifiers have statsitically significane different outcomes

In [26]:
# for classifer performances

x2 = (f12_FN - f21_FP - 1)**2/(f12_FN + f21_FP)

x2

1579.0000703383273

In [27]:
# alternative formula

x2 = (f12_FN - f21_FP)**2/(f12_FN + f21_FP)

x2

1579.6666666666667